:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #7ecfff, #cceeff);
}

main {
  background: url('/assets/images/pokedex.png') no-repeat center center;
  background-size: contain;
  width: 425px;
  height: 637px;
  position: relative;
}
