:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4b0082, #1a001f);


}

main {
  background: url('/assets/images/pokedex.png') no-repeat center center;
  background-size: contain;
  width: 425px;
  height: 637px;
  position: relative;
}
